// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top {
  padding: 20px;
}
.p-top {
  padding: 10px 0 10px 35px;
}

strong {
  font-weight: bold;
}